.page{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
  justify-content: space-around;
  background-color: aquamarine;
  height: 12vh;
  width: 100vw;
}
.page > Link > p{
  font-size: larger;
  font-weight: 700;
  margin: 10px;
}
.container{
  display: flex;
  position: absolute;
  justify-content: center;
  height: 30vh;
  width: 40vw;
  top: 100px;
  left: 25%;
  right: 25%;
  background-color: aquamarine;
  padding: 20px 20px;
}

.textfield-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 20px;
}
.textfield-container >.MuiFormControl-root {
  margin-bottom: 20px;
  width: 500px;
}

.form__custom-button{
  left: 25%;

}
